
/* Squelette */


/* Fonts */
@font-face{ 
  font-family: "Montserrat-ExtraLight"; 
  src: url("../font/Montserrat/Montserrat-ExtraLight.ttf");  
}

@font-face{ 
  font-family: "DroidSerif-Regular"; 
  src: url("../font/Droid Serif/DroidSerif-Regular.ttf");  
}

@font-face{
  font-family: "Montserrat-SemiBold";
  src: url("../font/Montserrat/Montserrat-SemiBold.ttf")
}

@font-face{
  font-family: "Montserrat-Bold";
  src: url("../font/Montserrat/Montserrat-Bold.ttf")
  }
@font-face{
  font-family: "Montserrat-Medium";
  src: url("../font/Montserrat/Montserrat-Medium.ttf")
}
@font-face{
  font-family: "Montserrat-Light";
  src: url("../font/Montserrat/Montserrat-Light.ttf")

}
@font-face{
  font-family: "DroidSerif-Italic";
  src: url("../font/DroidItalic/DroidSerif-Italic.ttf")
}

body {
  margin: 0;
  padding: 0;
}

.pierre a {
  font-size: 15px;
  font-family: Montserrat-Medium;
  text-decoration: none;
  color: #fff;
}



h1, h2, h3, h4, h5, h6 {
  font-family: DroidSerif-Regular;
  color: #13324b;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  line-height: 1;
}

h1 em {
  color: #6da0cb;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  height: 670px;
  display: flex;
  justify-content: center;
  background-image: url("../img/2600x1200_01.jpg");
  background-position: center top;
  background-size: cover;
}

#content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

#footer {
  width: 100%;
  height: 120px;
  background-color: #13334c;
  display: flex;
  justify-content: center;
}

.header-block {
  width: 60%;
  height: 670px;
}

.content-block {
  width: 60%;
  height: 100%;
}

.article-01 {
  margin-top: 125px;
  width: auto;
  display: flex;
  height: 500px;
}

.nav {
  width: auto;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 95px;
  height: 35px;
}
 .home{
   padding-right: 10px;
 }
.navbar {
  width: 450px
  height: 35px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a:link{
  padding: 5px;
  text-decoration: none;
  color: white;
}
.navbar a:visited{
  text-decoration: none;
  color: white;
}
.tel {
  width: 150px;
  height: 35px;
  border-radius: 50px;
  background-color: #6da0cb;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tel p {
  color: #fff;
  margin-left: 10px;
  font-size: 12px;
  font-family: Montserrat-Medium;
}

.phone {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background-image: url("../img/ic_local_phone_48px.svg");
  background-size: cover;
}

.circles {
  width: 220px;
  height: 105px;
  margin-top: 450px;
  font-size: 14px;
  font-family: DroidSerif-Italic;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  position: absolute;
}

.circles-01 {
  width: 105px;
  height: 105px;
  color: #fff;
  background-color: #6da0cb;
  border-radius: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.circles-02 {
  width: 105px;
  height: 105px;
  background-color: #fff;
  border-radius: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.call {
  width: 200px;
  height: 170px;
  font-size: 60px;
  font-family: Montserrat-Bold;
  color: #fff;
  margin-top: 200px;
  margin-left: 650px;
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

}

.call p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.call span {
  margin-left: 8px;
  color: white;
}


.call em {
  font-size: 15px;
}

.call a {
  width: 200px;
  height: 50px;
  font-size: 9px;
  background-color: #13334c;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.call-arrow {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-arrow img {
  width: 22px;
  height: 10px;
}

.scroll {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  margin-top: -32px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.arrow {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50%;
  background-color: #6da0cb;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow img {
  width: 22px;
  height: 10px;
  transform: rotate(90deg);
}

.photo {
  width: 635px;
  height: 430px;
  margin-left: 420px;
  position: absolute;
  background-image: url("../img/1200x800_01.jpg");
  background-size: cover;
}

.invest {
  width: 405px;
  height: 215px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.paragraph {
  width: 530px;
  height: 215px;
  background-color: #fff;
  margin-top: 215px;
  position: absolute;
  display: flex;
}

#paragraph-text {
  width: 265px;
  height: 215px;
}

.article-02 {
  width: 100%;
  height: 530px;
  background-image: url("../img/1600x1000_01.jpg");
  margin-top: 30px;
  background-size: cover;
  display: flex;
  position: static;
}

.article-03 {  /* Gaetan */
  display: flex;
  justify-content: center;
  align-content: space-between;
}

#list { /* Tableau principal : textes - icones - listes */
  width: 50%;
  height: 100%;
  margin: 0 55px 0 55px;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.title-list { /* Textes importants : points fort et prestations */
  font-family: DroidSerif-Regular, sans-serif;
  color: rgb(26, 48, 69);
  width: 180px;
  height: 25px;
  font-size : 23px;
  text-align: center;
  margin-bottom: 60px;
}

.icon-list{ /* Tableau icones plus et liste */
  width: 52px;
  height: 52px;
  border-radius: 52px;
  overflow:hidden;
  background-color: rgb(116, 170, 214);
  position: absolute;
  margin-top: 57px;
  display : flex;
  justify-content: center;
  align-items: center;
}

.list-content { /* Tableau listes */
  width: 100%;
  box-shadow: 5px 5px 10px  #e2e0e0b3;
  box-shadow: -5px -5px 10px #e2e0e0b3;
  height: auto;
}

.icon-list img { /* images icones */
  width: 50%;
  height: 50%;
}

li { /* Listes */
  font-family: Montserrat-ExtraLight, sans-serif;
  font-size: 100%;
  color: #B4B5B4;
  display : list-item;
  line-height: 30px;
  list-style-image : url("../img/icon-checked4..svg");
  border-bottom:1px solid rgb(237, 237, 237);
  padding-top : 20px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right:40px;
 } 

/* Simon */
.article-04 {
  width: 60%;
  height: 155px;
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #CECECE;
}

.infos {
  width: 80%;
  height: 45px;
  font-size: 35px;
}

.foncé {
  color: #13324b;
  font-family: DroidSerif-Regular;
}
.clair {
  color: #7ca8cc;
  font-family: DroidSerif-Regular
}
.bouton{
  width: 20%;
  height: 45px;
  border: 1px solid #7ca8cc;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.arrowscroll{
  border-radius: 100%;
  background-color: #7ca8cc;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.whitearrow {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #7ca8cc;
}
svg{
  width: 15px;
  height: 15px;
}

.contacteznous {
  font-family: Montserrat-Bold;
  font-size: 11px;
  color: #7ca8cc;
}
/* Simon */
.footer-block{
  background-color: #13324b;
  color: white;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 13px;

}
.nav-bottom{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo-links {
  display: flex;
  align-items: center;
}
.logo-bottom{
  width: 120px;
  height: auto;
} ;

.links-bottom{  
  font-family: Montserrat-Bold;
  }
  .house {
    padding-right: 10px;
  }
  .links-bottom a:link {
    padding: 5px;
    text-decoration: none;
    color: white;
  }
  a {
    font-family: Montserrat-Bold;
  }
  .links-bottom a:visited {
    padding: 5px;
    text-decoration: none;
    color: white;
  }
.contactlogo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sfd {
  display: flex;
  align-items: center;
}

.contact{
  font-family: Montserrat-ExtraLight;
  font-size: 8px;
}

.credit{
  padding: 6px;
  font-size: 8px;
  font-family: Montserrat-SemiBold;
}
/* Simon's Out*/


#paragraph-text p {
  font-size: 12px;
  line-height: 2.3;
  color: #b6b6b6;
  margin: 0px 50px 30px 0;
  font-family: Montserrat-Light;
}

.more {
  width: 200px;
  height: 50px;
  color: #6da0cb;
  margin-top: 430px;
  font-size: 12px;
  font-family: Montserrat-Medium;
  position: absolute;
  display: flex;
  align-items: center;
}

.more p {
  margin-left: 15px;
}

.arrow-right {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #6da0cb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-svg {
  width: 22px;
  height: 15px;
  background-image: url("../img/arrow-right.svg");
  background-size: cover;
}






@media screen and (max-width: 1100px) {
  
}
