body{
  background-color: #ff0000;
  margin: 0;
  padding: 0;
}
/* Simon */
.footer{
  background-color: #13324b;
  color: white;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 11px;

}
.nav-bottom{
  border: 1px solid pink;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-bottom{
  width: 120px;
  height: auto;
  border: 1px solid black;
}
.links-bottom{
  border: 1px solid blue;
  font-family: "Montserrat-Black", sans-serif;
  }
  .links-bottom a:link {
    text-decoration: none;
    color: white;
  }
  .links-bottom a:visited {
    text-decoration: none;
    color: white;
  }
.contactlogo {
  justify-content: flex-end;
}
.sfd{
  border: 1px solid yellow;
}
.logo-SFD{
  border: 1px solid green;
}
