
/* Squelette */
body {
  margin: 0;
  padding: 0;
}

/* Fonts */
@font-face{ 
  font-family: "Montserrat-ExtraLight"; 
  src: url("../font/Montserrat/Montserrat-ExtraLight.ttf");  
}

@font-face{ 
  font-family: "DroidSerif-Regular"; 
  src: url("../font/Droid Serif/DroidSerif-Regular.ttf");  
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  height: 670px;
  display: flex;
  justify-content: center;
  background-image: url("../img/2600x1200_01.jpg");
  background-size: cover;
}

#content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

#footer {
  width: 100%;
  height: 120px;
  background-color: #13334c;
  display: flex;
  justify-content: center;
}

.header-block {
  width: 60%;
  height: 670px;
  border: 1px solid red;
}

.content-block {
  width: 60%;
  height: 100%;
  border: 1px solid red;
}

.footer-block {
  width: 850px;
  height: 120px;
  border: 1px solid red;
}

.article-01 {
  margin-top: 125px;
  width: 100%;
  display: flex;
}

.nav {
  width: auto;
  height: 80px;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar {
  width: 350px;
  height: 35px;
  border: 1px solid red;
}

.logo {
  width: 95px;
  height: 35px;
  border: 1px solid red;
}

.tel {
  width: 150px;
  height: 35px;
  border: 1px solid red;
}

.circles {
  width: 220px;
  height: 105px;
  border: 1px solid red;
}

.call {
  width: 200px;
  height: 150px;
  border: 1px solid red;
}

.photo {
  width: 635px;
  height: 430px;
  border: 1px solid red;
  margin-left: 420px;
  position: absolute;
  background-image: url("../img/1200x800_01.jpg");
  background-size: cover;
}

.invest {
  width: 405px;
  height: 215px;
  border: 1px solid red;
  position: absolute;
}

.paragraph {
  width: 530px;
  height: 215px;
  background-color: #fff;
  margin-top: 215px;
  border: 1px solid red;
  position: absolute;
  display: flex;
}

#paragraph-text {
  width: 265px;
  height: 215px;
  border: 1px solid red;
}

.more {
  width: 135px;
  height: 50px;
  margin-top: 430px;
  border: 1px solid red;
  position: absolute;
}

.article-02 {
  width: 100%;
  height: 530px;
  background-image: url("../img/1600x1000_01.jpg");
  margin-top: 600px;
  background-size: cover;
  display: flex;
  position: static;
}

.article-03 {  /* Gaetan */
  display: flex;
  justify-content: center;
  align-content: space-between;
}

#list { /* Tableau principal : textes - icones - listes */
  width: 50%;
  height: 100%;
  margin: 0 55px 0 55px;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.title-list { /* Textes importants : points fort et prestations */
  font-family: DroidSerif-Regular, sans-serif;
  color: rgb(26, 48, 69);
  width: 180px;
  height: 25px;
  font-size : 23px;
  text-align: center;
  margin-bottom: 60px;
}

.icon-list{ /* Tableau icones plus et liste */
  width: 52px;
  height: 52px;
  border-radius: 52px;
  overflow:hidden;
  background-color: rgb(116, 170, 214);
  position: absolute;
  margin-top: 57px;
  display : flex;
  justify-content: center;
  align-items: center;
}

.list-content { /* Tableau listes */
  width: 100%;
  height: 100%;
  box-shadow: 1px 2px 5px 1px #e2e0e0b3;
}

.icon-list img { /* images icones */
  width: 50%;
  height: 50%;
}

li { /* Listes */
  font-family: Montserrat-ExtraLight, sans-serif;
  font-size: 100%;
  color: #B4B5B4;
  display : list-item;
  line-height: 30px;
  list-style-image : url("../img/icon-checked4..svg");
  border-bottom:1px solid rgb(237, 237, 237);
  padding-top : 20px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right:40px;
 } 

/* Simon */
.article-04 {
  width: 68%x;
  height: 155px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  border-top: 1px solid #CECECE;
}

.infos {
  width: 80%;
  height: 45px;
  font-size: 35px;
border: 1px solid red;
}
@font-face{
  font-family: "DroidSerif-Regular";
  src: url("../font/DroidSerif/DroidSerif-Regular.ttf")
}
.foncé {
  color: #13324b;
  font-family: DroidSerif-Regular;
}
.clair {
  color: #7ca8cc;
  font-family: DroidSerif-Regular
}
.bouton{
  width: 20%;
  height: 45px;
  border: 1px solid #7ca8cc;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.arrowscroll{
  border-radius: 100%;
  background-color: #7ca8cc;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.whitearrow {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #7ca8cc;
}
svg{
  width: 15px;
  height: 15px;
}
@font-face{
  font-family: "Montserrat-Bold";
  src: url("../font/Montserrat/Montserrat-Bold.ttf")
  }

.contacteznous {
  font-family: Montserrat-Bold;
  font-size: 11px;
  color: #7ca8cc;
}
/* Simon */
.footer-block{
  background-color: #13324b;
  color: white;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 10px;

}
.nav-bottom{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo-links {
  display: flex;
  align-items: center;
}
.logo-bottom{
  width: 120px;
  height: auto;
} ;

.links-bottom{  
  font-family: Montserrat-Black;
  }
  .house {
    padding-right: 15px;
  }
  .links-bottom a:link {
    padding: 5px;
    text-decoration: none;
    color: white;
  }
  a {
    font-family: Montserrat-Bold;
  }
  .links-bottom a:visited {
    padding: 5px;
    text-decoration: none;
    color: white;
  }
.contactlogo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sfd {
  display: flex;
  align-items: center;
}
@font-face{
  font-family: "Montserrat-ExtraLight"; 
  src: url("../font/Montserrat/Montserrat-ExtraLight.ttf");
}
.contact{
  font-family: Montserrat-ExtraLight;
  font-size: 8px;
}
@font-face{
  font-family: "Montserrat-SemiBold";
  src: url("../font/Montserrat/Montserrat-SemiBold.ttf")
}
.credit{
  padding: 8px;
  font-size: 8px;
  font-family: Montserrat-SemiBold;
}
/* Simon's Out*/